<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>mastodon-archive</title>
</head>
<body>
    {% include "fork-corner.html" %}
    <main class="container">
        <nav>
            <ul></ul>
            <ul>
                <li>
                    <strong>
                        <hgroup class="center">
                            <h2>🦣 mastodon-archive</h2>
                            <h3>
                                Because the things we like shouldn't have to be lost forever
                                <br/>
                                See also: <a href="https://twitter-archive.club">twitter-archive</a>
                            </h3>
                        </hgroup>
                    </strong>
                </li>
            </ul>
            <ul></ul>
        </nav>
        <article>
            <img width="730" height="430" id="header-image" src="/static/img/header-masto.png"/>
            <p class="center">
                Do you remember that amazing piece of art you liked on Mastodon 2 months ago? Do you ever wonder if you'll see it again?
            </p>
            <p class="center">
                This is an iOS shortcut that allows you to download and automatically organize the contents of a Mastodon post to iCloud.
            </p>
        {% if show_install == true %}
        <a id="install-button" href="https://www.icloud.com/shortcuts/3fc19856135042d99e82521d9c42c00d" role="button">Install Shortcut</a>
        {% else %}
            <div class="grid">
                <div>
                    <h2>:(</h2>
                    <p>The device you are viewing this page on is unfortunately not supported.</p>
                    <p>
                        Only iOS and macOS devices are currently supported. Scan the QR code with an iPhone to install.
                    </p>
                </div>
                <div>
                    <img id="qr-code" src="/static/img/install-masto-qr-code.png"/>
                </div>
            </div>
        {% endif %}
            <h4>How To Use</h4>
            <p style="margin-bottom: 0">
                Once you've installed the shortcut it should appear in your share sheet when you go to share a link. Press
                the share button on a Mastodon post and select the shortcut from the list.
            </p>
            <br>
            <p>
                The shortcut will then download the contents of the post and save it to iCloud in folders organised by the post authors name. You can then access it in the
                Files app. Text content along with the original URLs for the post are also saved in a separate folder.
            </p>
            <p>Files will be saved in:</p>
            <code>📁 iCloud Drive > Shortcuts > Mastodon Archive</code>
            <code>📁 iCloud Drive > Shortcuts > Mastodon Archive (Text)</code>
        </article>
    </main>
</body>
</html>