<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>twitter-archive</title>
</head>
<body>
    {% include "fork-corner.html" %}
    <main class="container">
        <nav>
            <ul></ul>
            <ul>
                <li>
                    <strong>
                        <hgroup class="center">
                            <h2>🐔 twitter-archive</h2>
                            <h3>Because the things we like shouldn't have to be lost forever</h3>
                        </hgroup>
                    </strong>
                </li>
            </ul>
            <ul></ul>
        </nav>
        <article>
            <img width="730" height="430" id="header-image" src="/static/img/header.png"/>
            <p class="center">
                Do you remember that amazing piece of art you liked on Twitter 2 months ago? Do you ever wonder if you'll see it again?
            </p>
            <p class="center">
                This is an iOS shortcut that allows you to download and automatically organize the contents of a tweet to iCloud.
            </p>
        {% if show_install == true %}
        <a id="install-button" href="https://www.icloud.com/shortcuts/c5ef2c527dd545fd9b4a92c775214e5d" role="button">Install Shortcut</a>
        {% else %}
            <div class="grid">
                <div>
                    <h2>:(</h2>
                    <p>The device you are viewing this page on is unfortunately not supported.</p>
                    <p>
                        Only iOS and macOS devices are currently supported. Scan the QR code with an iPhone to install.
                    </p>
                </div>
                <div>
                    <img id="qr-code" src="/static/img/install-qr-code.png"/>
                </div>
            </div>
        {% endif %}
            <h4>How To Use</h4>
            <p style="margin-bottom: 0">
                Once you've installed the shortcut it should appear in your share sheet when you share a link. To access it
                in the iOS Twitter app, <i>hold down</i> the share button and select the shortcut from the list.
            </p>
            <img src="/static/img/guide.png"/>
            <p>
                The shortcut will then download the contents of the tweet and save it to iCloud in folders organised by the tweet authors name. You can then access it in the
                Files app. Text content along with the original URL's for the tweet are also saved in a separate folder.
            </p>
            <p>Files will be saved in:</p>
            <code>📁 iCloud Drive > Shortcuts > Twitter Archive</code>
            <code>📁 iCloud Drive > Shortcuts > Twitter Archive (Text)</code>
        </article>
    </main>
</body>
</html>